#!/usr/bin/env bash

# Brewfile hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}

# Find brew
if [[ -x /home/linuxbrew/.linuxbrew/bin/brew ]]; then
    BREW=/home/linuxbrew/.linuxbrew/bin/brew
elif [[ -x /opt/homebrew/bin/brew ]]; then
    BREW=/opt/homebrew/bin/brew
else
    exit 0
fi

echo "[brew] installing from ~/.Brewfile..."
$BREW bundle --global --services
echo "[brew] bundle install complete"
