{{- if eq .chezmoi.os "linux" }}
[edit]
    command = "flatpak"
    args = ["run", "dev.zed.Zed", "--wait"]
{{- else if eq .chezmoi.os "darwin" }}
[edit]
    command = "zed"
    args = ["--wait"]
{{- end }}

[git]
    autoCommit = true
    autoPush = true
