tap "alyraffauf/tap", trusted: true
tap "lucasgelfond/zerobrew", trusted: true
tap "oven-sh/bun", trusted: true
tap "charmbracelet/tap", trusted: true
tap "anomalyco/tap", trusted: true
brew "age"
brew "anomalyco/tap/opencode"
brew "chezmoi"
brew "cloudflared"
brew "curl"
brew "direnv"
brew "eza"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "go"
brew "gopls"
brew "htop"
brew "just"
brew "lazygit"
brew "neovim"
brew "node"
brew "opencode"
brew "opentofu"
brew "oven-sh/bun/bun"
brew "ripgrep"
brew "starship"
brew "tailwindcss"
brew "uutils-coreutils"
brew "uutils-diffutils"
brew "uutils-findutils"
brew "uv"
brew "zellij"
brew "zoxide"
cask "chatgpt"
cask "firefox"
cask "font-adwaita"
cask "font-caskaydia-cove-nerd-font"
cask "font-caskaydia-mono-nerd-font"
cask "font-ubuntu-sans-nerd-font"
cask "ghostty"
cask "google-chrome"
cask "obsidian"
cask "plexamp"
cask "signal"
cask "syncthing-app"
cask "thunderbird"
cask "todoist-app"
cask "vesktop"
cask "visual-studio-code"
cask "zed"
flatpak "com.google.Chrome"
flatpak "com.plexamp.Plexamp"
flatpak "dev.vencord.Vesktop"
flatpak "org.mozilla.firefox"
flatpak "org.mozilla.thunderbird"
flatpak "org.signal.Signal"
go "github.com/alyraffauf/tg"
mas "Bitwarden", id: 1352778147
mas "Infuse", id: 1136220934
mas "NaviBeat", id: 6763518834
mas "Photomator", id: 1444636541
npm "wispctl"
uv "atbbs"
vscode "bbenoist.nix"
vscode "catppuccin.catppuccin-vsc"
vscode "catppuccin.catppuccin-vsc-icons"
vscode "esbenp.prettier-vscode"
vscode "gleam.gleam"
vscode "golang.go"
vscode "hashicorp.terraform"
vscode "ms-azuretools.vscode-containers"
vscode "ms-python.debugpy"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-python.vscode-python-envs"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode.remote-explorer"
vscode "openai.chatgpt"
vscode "oven.bun-vscode"
vscode "redhat.ansible"
vscode "redhat.vscode-yaml"
vscode "sst-dev.opencode"
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") -}}
cask "alyraffauf/tap/ghostty-linux"
cask "alyraffauf/tap/helium-linux"
cask "alyraffauf/tap/obsidian-linux"
cask "alyraffauf/tap/opencode-desktop-linux"
cask "alyraffauf/tap/todoist-linux"
cask "alyraffauf/tap/visual-studio-code-linux"
cask "alyraffauf/tap/zed-linux"
{{ end -}}
