tap "alyraffauf/tap", trusted: true
brew "bun"
brew "chezmoi"
brew "cloudflared"
brew "devcontainer"
brew "direnv"
brew "eza"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "go"
brew "helix"
brew "joshuto"
brew "lazygit"
brew "nvim"
brew "node"
brew "opencode"
brew "ripgrep"
brew "starship"
brew "uutils-coreutils"
brew "uutils-diffutils"
brew "uutils-findutils"
brew "zoxide"
cask "firefox"
cask "font-adwaita"
cask "font-caskaydia-cove-nerd-font"
cask "font-caskaydia-mono-nerd-font"
cask "font-ubuntu-sans-nerd-font"
cask "ghostty"
cask "google-chrome"
cask "obsidian"
cask "plexamp"
cask "signal"
cask "syncthing-app"
cask "thunderbird"
cask "todoist-app"
cask "vesktop"
cask "zed"
flatpak "dev.vencord.Vesktop"
flatpak "org.mozilla.firefox"
mas "Bitwarden", id: 1352778147
mas "Photomator", id: 1444636541
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") -}}
# x86_64-only
flatpak "com.google.Chrome"
flatpak "com.plexamp.Plexamp"
flatpak "org.mozilla.thunderbird"
flatpak "org.signal.Signal"
cask "alyraffauf/tap/zed-linux"
cask "alyraffauf/tap/helium-linux"
cask "alyraffauf/tap/ghostty-linux"
cask "alyraffauf/tap/obsidian-linux"
cask "alyraffauf/tap/todoist-linux"
cask "alyraffauf/tap/visual-studio-code-linux"
cask "alyraffauf/tap/opencode-desktop-linux"
{{ else if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64") -}}
# arm64 substitutes
flatpak "org.chromium.Chromium"
{{ end -}}
