# Shared Ghostty configuration.
window-decoration = client
theme = Catppuccin Frappe

{{- if eq .chezmoi.os "darwin" }}
# macOS-only glass effect and global quick terminal.
background-blur = true
background-opacity = 0.75
keybind = global:cmd+grave_accent=toggle_quick_terminal
{{- end }}
